USE [master]
GO
/****** Object:  Database [Du_An_Mau1]    Script Date: 6/18/2025 5:41:29 PM ******/
CREATE DATABASE [Du_An_Mau1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Du_An_Mau1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Du_An_Mau1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Du_An_Mau1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Du_An_Mau1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Du_An_Mau1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Du_An_Mau1]
GO
/****** Object:  Table [dbo].[CHITIETPHIEU]    Script Date: 6/18/2025 5:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEU](
	[MaHD] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [float] NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[LoaiSP] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/18/2025 5:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[hinhanh] [varchar](255) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PendingAccount]    Script Date: 6/18/2025 5:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingAccount](
	[taikhoanID] [nvarchar](50) NULL,
	[password] [nvarchar](255) NULL,
	[confirmPassword] [nvarchar](255) NULL,
	[email] [nvarchar](100) NOT NULL,
	[verifycode] [nvarchar](10) NULL,
	[ExpiredTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUAHANG]    Script Date: 6/18/2025 5:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUAHANG](
	[MaHD] [varchar](10) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[PhiPhuThu] [float] NOT NULL,
	[TongTien] [float] NOT NULL,
	[DaThanhToan] [bit] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[DaHuy] [bit] NOT NULL,
	[The] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLSP]    Script Date: 6/18/2025 5:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLSP](
	[MASP] [varchar](5) NULL,
	[TENSP] [nvarchar](50) NULL,
	[LOAISP] [nvarchar](50) NULL,
	[GIA] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qlthe]    Script Date: 6/18/2025 5:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qlthe](
	[Trangthai] [bit] NULL,
	[Mathe] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/18/2025 5:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](100) NULL,
	[LOAISP] [nvarchar](50) NULL,
	[GIA] [decimal](10, 2) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 6/18/2025 5:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoan](
	[TaiKhoanID] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[trangthai] [bit] NULL,
	[VTID] [varchar](100) NULL,
	[VerifyCode] [nvarchar](255) NULL,
	[ExpiredTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 6/18/2025 5:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[VTID] [varchar](100) NOT NULL,
	[TenVT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETPHIEU] ([MaHD], [MaSP], [SoLuong], [Gia], [TenSP], [LoaiSP]) VALUES (N'HD0006', N'SP001', 1, 150000, N'Áo Thun Nam', N'Thời Trang')
INSERT [dbo].[CHITIETPHIEU] ([MaHD], [MaSP], [SoLuong], [Gia], [TenSP], [LoaiSP]) VALUES (N'HD0007', N'SP001', 1, 150000, N'Áo Thun Nam', N'Thời Trang')
INSERT [dbo].[CHITIETPHIEU] ([MaHD], [MaSP], [SoLuong], [Gia], [TenSP], [LoaiSP]) VALUES (N'HD0008', N'SP001', 1, 150000, N'Áo Thun Nam', N'Thời Trang')
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [SDT], [hinhanh], [email]) VALUES (1, N'Nguyễn Văn A', N'Nam', CAST(N'1990-05-20' AS Date), N'0901234567', NULL, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [SDT], [hinhanh], [email]) VALUES (2, N'Lê Thị B', N'Nữ', CAST(N'1995-08-15' AS Date), N'0912345678', N'C:\Users\acchi\Downloads\2.png', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [SDT], [hinhanh], [email]) VALUES (3, N'Trần Văn C', N'Nam', CAST(N'1988-12-01' AS Date), N'0923456789', NULL, N'acchinh2008@gmail.com')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[PHIEUMUAHANG] ([MaHD], [NgayLap], [TenNV], [PhiPhuThu], [TongTien], [DaThanhToan], [GhiChu], [DaHuy], [The]) VALUES (N'HD0006', CAST(N'2025-01-01T00:00:00.000' AS DateTime), N'huy', 0, 150000, 1, N'jhsbf', 0, NULL)
INSERT [dbo].[PHIEUMUAHANG] ([MaHD], [NgayLap], [TenNV], [PhiPhuThu], [TongTien], [DaThanhToan], [GhiChu], [DaHuy], [The]) VALUES (N'HD0007', CAST(N'2025-05-28T00:00:00.000' AS DateTime), N'huy', 0, 150000, 1, N'binh ngu', 0, NULL)
INSERT [dbo].[PHIEUMUAHANG] ([MaHD], [NgayLap], [TenNV], [PhiPhuThu], [TongTien], [DaThanhToan], [GhiChu], [DaHuy], [The]) VALUES (N'HD0008', CAST(N'2025-05-28T00:00:00.000' AS DateTime), N'HSDV', 0, 470000, 1, N'JHDSB', 0, NULL)
GO
INSERT [dbo].[QLSP] ([MASP], [TENSP], [LOAISP], [GIA]) VALUES (N'SP001', N'Áo Thun Nam', N'Thời Trang', 150000)
INSERT [dbo].[QLSP] ([MASP], [TENSP], [LOAISP], [GIA]) VALUES (N'SP002', N'Quần Jean Nữ', N'Thời Trang', 320000)
INSERT [dbo].[QLSP] ([MASP], [TENSP], [LOAISP], [GIA]) VALUES (N'SP003', N'Sữa Tươi Không Đường', N'Thực Phẩm', 30000)
GO
INSERT [dbo].[qlthe] ([Trangthai], [Mathe]) VALUES (0, N'T001')
INSERT [dbo].[qlthe] ([Trangthai], [Mathe]) VALUES (0, N'T002')
INSERT [dbo].[qlthe] ([Trangthai], [Mathe]) VALUES (0, N'T003')
GO
INSERT [dbo].[taikhoan] ([TaiKhoanID], [MatKhau], [Email], [trangthai], [VTID], [VerifyCode], [ExpiredTime]) VALUES (N'binhbeo', N'1234', N'nhunhuocqua123@gmail.com', 1, N'000', NULL, NULL)
INSERT [dbo].[taikhoan] ([TaiKhoanID], [MatKhau], [Email], [trangthai], [VTID], [VerifyCode], [ExpiredTime]) VALUES (N'cd40b7c0-b2aa-4c16-8f00-ce0f40b4ab83', N'123', N'acchinh2008@gmail.com', 1, N'001', NULL, NULL)
GO
INSERT [dbo].[VaiTro] ([VTID], [TenVT]) VALUES (N'000', N'ONWER')
INSERT [dbo].[VaiTro] ([VTID], [TenVT]) VALUES (N'001', N'Admin')
INSERT [dbo].[VaiTro] ([VTID], [TenVT]) VALUES (N'002', N'User')
GO
ALTER TABLE [dbo].[PHIEUMUAHANG] ADD  DEFAULT ((0)) FOR [DaHuy]
GO
ALTER TABLE [dbo].[CHITIETPHIEU]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[PHIEUMUAHANG] ([MaHD])
GO
ALTER TABLE [dbo].[taikhoan]  WITH CHECK ADD FOREIGN KEY([VTID])
REFERENCES [dbo].[VaiTro] ([VTID])
GO
USE [master]
GO
